* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-size: 12px;
    font-weight: 400;
    min-width: 325px;
}

.container {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    padding-bottom: 3em;
    box-shadow: 0px 40px 50px hsl(245.3, 47.1%, 52.5%);
}

.container-img-wrapper {
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
}

.container-img {
    background-image: url(images/illustration-woman-online-mobile.svg);
    width: 225px;
    height: 225px;
    top: -8em;
}

.container-img--bg {
    background-image: url(images/bg-pattern-mobile.svg);
    top: 0em;
    width: 250px;
    height: 115px;
    left: 2em;
}

.container h1 {
    font-size: 2rem;
    color: hsl(238, 29%, 16%);
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
}

.qablock {
    width: 80%;
    margin: 1em auto;
    font-size: 1em;
    color: hsl(238, 29%, 16%);
}

.question {
    margin: 1em 0em;
    cursor: pointer;
}

.question p::after {
    content: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 1em;
    float: right;
}

.question p:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}

.question p.active {
    font-weight: 700;
}

.question p.active::after {
    transform: rotate(180deg);
}

.answer {
    display: none;
    margin: 1em 0em;
    width: 85%;
    line-height: 1.5;
}

.hr-line {
    margin: 1.5em 0em;
    height: 1px;
    background-color: hsl(240, 5%, 91%)
}

.container h1 {
    margin: 3em auto 0.5em;
    padding: 0.5em 0 1em;
    text-align: center;
}

@media screen and (min-width:600px) {
    body {
        font-size: 16px;
        max-width: 800px;
        margin: 0 auto;
    }
    .container-img--bg {
        top: -1em;
    }
}


/* beyond ipad sizes */

@media screen and (min-width:811px) {
    body {
        margin: 0 auto;
    }
    .container {
        width: 900px;
        min-height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        margin: 1em auto;
    }
    .container-img-wrapper {
        display: none;
    }
    .container-img-wrapper-desktop,
    .faq-container {
        width: 50%;
    }
    .container-img-wrapper-desktop {
        display: grid;
        align-content: center;
    }
    .relative-wrapper {
        position: relative;
    }
    .img-woman {
        background-image: url(images/illustration-woman-online-desktop.svg);
        background-position: right center;
        background-repeat: no-repeat;
        z-index: 1;
        width: 390px;
        height: 358px;
        position: absolute;
        top: -98px;
        height: 360px;
        left: 0px;
        top: -100px;
    }
    .img-box {
        background-image: url(./images/illustration-box-desktop.svg);
        position: relative;
        width: 191px;
        height: 184px;
        top: 200px;
        z-index: 2;
        left: -94px;
        top: 35px;
    }
    .img-bg {
        background-image: url(./images/bg-pattern-desktop.svg);
        z-index: 0;
        width: 375px;
        height: 530px;
        left: -50px;
        background-position: right center;
        position: absolute;
        width: 380px;
        top: -160px;
    }
    .faq-container {
        padding: 68px 0px 0px 16px;
        flex: 1 1 auto;
    }
    .container h1 {
        margin: 0;
        padding: 0.5em 0 1em;
        text-align: left;
        margin-left: 1.25em;
    }
}